on:
  push:
    tags:
      - 'v*'
name: "Release Deployable"
jobs:
  release-pivit:
    name: "Release Pivit"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go-version: [1.19.x]
        os: [ubuntu-latest, macos-latest]
    steps:
      - name: "Install golang"
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - if: ${{ matrix.os == 'ubuntu-latest' }}
        name: "Install dependencies"
        run: |
          sudo apt update
          sudo apt install -y libpcsclite-dev
      - if: ${{ matrix.os == 'macos-latest' }}
        name: "Install dependencies (MacOS)"
        run: |
          brew install openssh
      - name: "Checkout code"
        uses: actions/checkout@v2
      - name: "Verify release tag"
        uses: cashapp/check-signature-action@v0.1.0
        env:
          GH_TOKEN: ${{ github.token }}
        with:
          allowed-release-signers: yoavamit
      - name: "Build release"
        run: |
          set -euxo pipefail
          cd ${{ github.workspace }}
          make release
          if ${{ matrix.os == 'macos-latest' }}; then
            make release GOARCH=arm64
          fi
      - name: "Release versioned"
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: "pivit-*"
          token: ${{ secrets.GITHUB_TOKEN }}
